<div class="bg-neutral-white-100 w-full shadows z-30 relative">
  <div
    id="side-mob-wrapper"
    class="flex flex-col items-center justify-center px-5 lg:px-0 z-10"
  >
    <div class="flex justify-between items-center w-full">
      <div class="flex w-full max-w-[200px]" id="menu-logo">
        <button
          class="space-y-1 flex justify-center items-center flex-col lg:hidden"
          (click)="toggleMenu()"
        >
          <span class="w-4 h-0.5 block bg-black"></span>
          <span class="w-4 h-0.5 block bg-black"></span>
          <span class="w-4 h-0.5 block bg-black"></span>
        </button>
        <div id="filter-image-mobile" class="w-[200px] lg:shadow-sidebar">
          <img src="assets/logo.png" alt="" class="w-full h-full" />
        </div>
      </div>
      <!-- <app-header class="hidden lg:block lg:w-full ml-4"></app-header> -->
      <div class="flex gap-2 w-1/2 justify-end lg:hidden">
        <mat-icon>shopping_cart</mat-icon>
        <mat-icon>person_pin</mat-icon>
      </div>
    </div>
    <div id="mobile-search" class="w-full lg:hidden">
      <app-header></app-header>
    </div>
  </div>
</div>

<app-categories
  class="transition-all duration-300 absolute z-30"
  [ngClass]="{ 'translate-x-0': show, ' -translate-x-44 opacity-0': !show }"
></app-categories>
