<div
  class="relative flex text-neutral-500 font-semibold shadows min-w-[200px] h-full top-0.5"
>
  <ul
    class="bg-white space-y-7 py-3 px-3 shadow-neutral-white-300 w-full h-full"
  >
    <a
      *ngFor="let category of categories"
      routerLink="products/{{ category.categoryName }}"
      routerLinkActive="text-orange-600"
    >
      <li
        (click)="hovered(category.id)"
        class="flex justify-between px-2 cursor-pointer"
      >
        {{ category.categoryName }} <span>></span>
      </li>
    </a>
    <li
      *ngFor="let category of categories"
      (click)="hovered(category.id)"
      class="flex justify-between px-2 cursor-pointer"
    >
      {{ category.categoryName }} <span>></span>
    </li>
    <li
      *ngFor="let category of categories"
      class="flex justify-between px-2 cursor-pointer"
    >
      {{ category.categoryName }} <span>></span>
    </li>
  </ul>
</div>
