<div
  class="px-5 h-full flex flex-col justify-between group"
  id="product-card"
  (click)="goToPage()"
>
  <div class="relative h-auto">
    <span
      class="text-neutral-black absolute bottom-0 text-sm bg-accent-orange block py-0.5 px-1"
      >Best seller</span
    >
    <div class="w-44 h-44 mx-auto">
      <img
        [src]="product.productImage"
        class="w-full h-full object-contain"
        alt=""
      />
    </div>
  </div>
  <div class="flex flex-col items-start pl-3 pr-1 space-y-2">
    <h2 class="lg:hidden group-hover:text-accent-orange">
      {{ product.productName | slice: 0:50
      }}{{ product.productName.length > 50 ? "..." : "" }}
    </h2>
    <h2 class="hidden lg:block">
      {{ product.productName }}
    </h2>
    <div>
      <h6 class="font-bold text-lg text-neutral-black">
        {{ product.productPrice | currency: "EGP" }}
      </h6>
      <h6 class="text-neutral-black text-sm">
        {{ 2.68 | currency: "EGP" }} Shipping
      </h6>
    </div>
    <p class="text-neutral-black text-sm">
      {{ product.productDescription | slice: 0:100 }}...
    </p>
    <div>
      <app-stars [rating]="product.productRating.stars"></app-stars>
      <h6 class="text-[#a1a1a1] text-sm">
        {{ product.productRating.count | number: "1.00" }} Reviews >
      </h6>
    </div>
    <span class="text-sm text-neutral-black">Get it soon</span>
  </div>
</div>
