<app-header (toggle)="toggleMenu()"></app-header>
<div id="page-wrapper" class="flex relative">
  <app-categories
    [ngClass]="{ hidden: !menuOpened }"
    class="absolute z-10 min-h-full lg:hidden"
  ></app-categories>
  <div class="min-h-full border border-red-500">
    <app-categories class="hidden lg:block h-full"></app-categories>
  </div>
  <div class="border border-blue-500 w-full lg:w-[calc(100%-202px)]">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
