<main class="container mx-auto pt-5">
  <app-hero class="w-full mx-auto"></app-hero>
  <app-section [section_title]="'Recommended Section'"></app-section>
  <app-category-slider
    section_title="Shop by category"
    [categories]="homeCategories"
  ></app-category-slider>
  <app-category-slider
    section_title="Gaming Accessories"
    [categories]="accesories"
    [withButtons]="false"
  ></app-category-slider>
  <app-category-slider
    section_title="Shop by category"
    [categories]="homeCategories"
  ></app-category-slider>
  <app-category-slider
    section_title="Shop by category"
    [categories]="homeCategories"
  ></app-category-slider>
</main>
